<h1 class="cover-heading">About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile-image.jpg", alt: "Profile Image" %>
    </div>

    <div class="col-md-8">
        <hr>
        <p class="lead">
            My career as a leadership professional with a passion for connecting people and processes has positioned me well to take on a challenging role in Web Development,having completed a comprehensive Code Immersion Program.
        </p>

        <p class="lead">
            I was selected as one of 1,500 applicants out of 10,000 by Udacity.com for a full scholarship to their Front-End Web Developer Nanodegree based on quality of my code and community involvement. I am currently developing and deploying websites and web apps as a freelance web developer, review my GitHub profile to see my latest projects.
        </p>
    </div>
</div>


