<h1>Would you like to work together?</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <h3>Office Address</h3>
        <p>123 Main St, Harrisburg, NC 28075</p>

        <h3>Phone</h3>
        <p><%= number_to_phone("5555555555") %></p>

        <h3>Email</h3>
        <p><a href="mailto:info@davidblackwelder.com?subject=PortfolioContact" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.2009430953535!2d-80.64769758502187!3d35.32583128027867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541a6453c7ce49%3A0x5bb4d6e868c1548c!2sMain+St%2C+Harrisburg%2C+NC+28075!5e0!3m2!1sen!2sus!4v1549294978717" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>



